<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crowdtest">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrowdTest">
        <activity android:name=".ui.ExpStatisticsActivity"></activity>
        <activity android:name=".ui.UserProfileActivity" />
        <activity android:name=".ui.ValueInputActivity" />
        <activity android:name=".ui.BinomialActivity" />
        <activity android:name=".ui.CountActivity" />
        <activity android:name=".ui.SearchExperimentActivity" />
        <activity android:name=".ui.QuestionThread" />
        <activity android:name=".ui.ExperimentListActivity" />
        <activity android:name=".ui.CreateExperimentActivity" />
        <activity android:name=".ui.QRActivity" />
        <activity android:name=".ui.CodeScanActivity" />
        <activity android:name=".ui.CustomBarcodeActivity" />
        <activity android:name=".ui.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="LocationService"
            android:foregroundServiceType="location" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>